ion-card-header{
  padding-top: 1px;
padding-bottom: 1px;
}
p{
  font-size: 9px;
}
.color1{
  background-color: #D9D2E9;
}
.color2{
  background-color: #B6D7A8;
}
.color3{
  background-color: #FFE599;
}
.color4{
  background-color: #F9CB9C;
}
.color5{
  background-color: #EA9999;
}