:host {
    ion-item {
        --background:none;
      background-color: #dbdbdb;
    }
    ion-content {
        --background:none;
      background-color: #dbdbdb;
    }

    ion-card{
      
        -webkit-margin-start: 0px;
        margin-inline-start: 0px;
        -webkit-margin-end: 0px;
        margin-inline-end: 0px;
    
    }
}

