<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="light" text="Atras"></ion-back-button>
    </ion-buttons>
    <ion-title>Mensaje de bienvenida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<h3 text-center>Sociedad Mexicana de la Oftalmología</h3>
<iframe  width="100%" height="315" src="https://player.vimeo.com/video/336680837" frameborder="0" allowfullscreen></iframe>
<p text-justify>
Estimados amigos y colegas:

Una vez mas la Sociedad Mexicana de Oftalmología se congratula de ser por sexta ocasión la anfitriona del Congreso Panamericano de Oftalmología.

La experiencia inicia en el año 1952 cuando organizamos el IV congreso en la Ciudad de México, repitiéndose en 1981 en Acapulco (XIII), 1997 en Cancún (XXI), nuevamente en Cancún 2007 (XXVII) y por último el evento conjunto XXXIII Congreso Mexicano, XXXII Congreso Panamericano y XXV Congreso Mundial de Oftalmología  2016 en Guadalajara.

Una vez más,  Cancún será sede del XXXIV Congreso Panamericano, en esta ocasión en conjunto con el V Curso Bienal de la Sociedad Mexicana de Oftalmología, nuestro gran foro de actualización en el que participan los once grupos de alta especialidad afiliados a nuestra Sociedad.

La planeación compartida del congreso ofrecerá un gran programa académico, sumamente incluyente e interactivo,  con la participación de 26 sociedades nacionales de América y Europa, 14 grupos de alta especialidad de Latinoamérica y hospitales y departamentos de oftalmología de todo el continente.

Es innegable la velocidad con la que el conocimiento y tecnología cambian, y esto nos obliga a mantenernos continuamente actualizados en las dos grandes áreas de la especialidad, clínica y quirúrgica.

Por supuesto no nos olvidamos de la actividad social que tanto disfrutamos, estableciendo y fortaleciendo lazos de amistad entre los diferentes países que integran la región.

A nombre de la Sociedad Mexicana de Oftalmología reciban una cordial bienvenida y que la experiencia sea placentera para ustedes y sus familias.
</p>
<p text-center>
Atentamente
</p>
<p text-center>
Dr. Eduardo Chávez Mondragón
</p>
<p text-center>
Presidente Sociedad Mexicana de Oftalmología 2019
</p>
</ion-content>
