<!-- <ion-header>
	<ion-toolbar color="primary">
		<ion-title>PAAO Cancun 2019</ion-title>
	</ion-toolbar>
</ion-header> -->



<ion-content text-center class="icons-basic-page" >
		<ion-item color="primary" class="banner">
	<img class="logoSmall" color="primary" src="../../assets/img/logo_smo_blanco.png">
	</ion-item>
	<ion-row>
		<ion-col>
				<ion-buttons (click)="validarVista()" color="secondary" expand="full" shape="round">
					<img class="iconos" src="../../assets/icon/socios.png">
				  </ion-buttons>
		</ion-col>
		<ion-col>
				<ion-buttons (click)="navegarPagina('coloquios')"expand="full" shape="round">
					<img class="iconos" src="../../assets/icon/coloq.png">
				  </ion-buttons>
		</ion-col>
		<ion-col>
				<ion-buttons (click)="abrirWeb('https://www.smo.org.mx/','_system')" expand="full" shape="round">
						<img class="iconos" src="../../assets/icon/transm.png">
					  </ion-buttons>
			
		</ion-col>
		<ion-col>
				<ion-buttons (click)="navegarPagina('congresos')" expand="full" shape="round">
					<img class="iconos" src="../../assets/icon/congres.png">
				  </ion-buttons>
		</ion-col>
		<ion-col>
				<ion-buttons (click)="navegarPagina('sesiones')" expand="full" shape="round">
					<img class="iconos" src="../../assets/icon/sesion.png">
				  </ion-buttons>
		</ion-col>
		<ion-col>
				<ion-buttons (click)="abrirWeb('http://www.rmo.com.mx','_system')" color="secondary" expand="full" shape="round">
						<img class="iconos" src="../../assets/icon/REVISTA.png">
					  </ion-buttons>
		</ion-col>
		<ion-col>
				<ion-buttons (click)="navegarPagina('mesadirectiva')" expand="full" shape="round">
					<img class="iconos" src="../../assets/icon/mesa.png">
				  </ion-buttons>
		</ion-col>
		<ion-col>
				<ion-buttons (click)="abrirWeb('https://www.smo.org.mx/solicitud_articulos.php','_system')"  expand="full" shape="round">
						<img class="iconos" src="../../assets/icon/articulos.png">
					  </ion-buttons>
		</ion-col>
		<ion-col>
				<ion-buttons (click)="navegarPagina('casos')"  expand="full" shape="round">
					<img class="iconos" src="../../assets/icon/casos.png">
				  </ion-buttons>
		</ion-col>
		<ion-col>
				<ion-buttons (click)="abrirWeb('https://www.facebook.com/socmexofta/','_system')" color="secondary" expand="full" shape="round">
						<img class="iconos" src="../../assets/icon/redes.png">
					  </ion-buttons>
		</ion-col>

		<ion-col>
				<ion-buttons (click)="navegarPagina('contacto')" expand="full" shape="round">
					<img class="iconos" src="../../assets/icon/contact.png">
				  </ion-buttons>
		</ion-col>

		
	</ion-row>
</ion-content>