:host {
    ion-content {
        --background:none;
      background:url('/assets/img/background.jpg');
      background-size: cover;
      background-position: center center;
	  --color: var(--ion-text-color,#fff);
    }
	.banner{
		--padding-top: 35px;
		--padding-bottom: 7px;
	}
	.iconos{
		size: 1em;
		padding: 7px;
	}
	.icons-basic-page {
		ion-icon {
			font-size: 80px;/*80px para ios 60 para android*/
			color: #ffffff;
		}

		ion-row {
			
			flex-wrap: wrap;
		}

		ion-col {
			flex: 0 0 33%;
			max-width: 33%;
			text-align: center;
			padding: 10px 5px;
		}
	}
	
}