<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button color="light" text="Volver"></ion-back-button>
      </ion-buttons>
      <ion-title>Transmisión en Vivo</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card *ngIf="url!=''">
    <img src="{{icono}}" />
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>{{fecha}}</ion-card-subtitle>
      <ion-text color="primary">
        <h4>{{tema}}</h4>
      </ion-text>
    </ion-card-header>
    <section class="full-width" (click)="abrirWeb(url,'_system')" >
      <ion-button expand="full" color="primary">Ir a la transmisión</ion-button>
    </section>
  </ion-card>

  <h3 class="center">Próximas Transmisiones</h3><br>
  <ion-list>
    <ion-item *ngFor="let transmision of transmisiones" >
        <ion-label class="ion-text-wrap">     
          <ion-row>
            <ion-col size="3">
                
                    <img class="perfil" src="{{transmision.ruta_img}}">
                  
            </ion-col>
            <ion-col size="9">               
          <ion-text color="secondary">
              <ion-text color="primary">         
                  <h3>{{transmision.titulo}}</h3>
                </ion-text>
                <p>{{transmision.fecha}}</p>
          </ion-text>
        </ion-col>
      </ion-row>  
        </ion-label>
      </ion-item>
    </ion-list>

      
</ion-content>
