<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button color="light" text="Volver"></ion-back-button>
      </ion-buttons>
      <ion-title>Congreso Nacional</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card>
        <img   src="../../assets/img/expoxxxv.png" (click)="viewPhoto('smo_final_congreso.png')" >
        <ion-item color="primary" (click)="abrirWeb('https://www.servimed.com.mx/ev/2020/acapulco/','_system')">
          <ion-buttons expand="full" class="text-center">
          <h4>Visitar sitio web </h4>
        </ion-buttons>
        </ion-item>
        </ion-card>
  </ion-content>
  
  