<ion-header no-border >
  <ion-toolbar color="primary">
      
    <ion-buttons slot="end">Salir 
      <ion-button (click)="logout()"
                  color="light">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">


    <ion-card color="primary">
      <ion-card-content>
        <ion-avatar>
          <img id="perfil" src="{{ usuario.avatar }}">
        </ion-avatar>
        <br>  
            <ion-card-title text-center>{{ usuario.nombre }} {{ usuario.apellidos }}</ion-card-title>
            <p text-center>{{ usuario.categoria }} | {{ usuario.email }}</p>
        </ion-card-content> 
    </ion-card>
    <ion-card>
        <ion-card-content>
            <ion-card-title text-center>Anualidades</ion-card-title>
            <ion-row>
                <ion-col size="4" text-center>
                    <ion-label>2017</ion-label><br>
                    <ion-toggle  checked="{{usuario.an2017}}" color="primary"></ion-toggle>
                  </ion-col>
                  <ion-col size="4" text-center>
                      <ion-label>2018</ion-label><br>
                      <ion-toggle  checked="{{usuario.an2018}}" color="primary"></ion-toggle>
                    </ion-col>
                    <ion-col size="4" text-center>
                      <ion-label>2019</ion-label><br>
                      <ion-toggle  checked="{{usuario.an2019}}" color="primary"></ion-toggle>
                    </ion-col>
                    <ion-col size="4" text-center>
                      <ion-label>2020</ion-label><br>
                      <ion-toggle  checked="{{usuario.an2020}}" color="primary"></ion-toggle>
                    </ion-col>
            </ion-row>
    </ion-card-content>
        </ion-card>
    <ion-card color="light">
      <ion-row>
        <ion-col size="6">
          <ion-item (click)="abrirWeb('https://smo.org.mx/archivos/documentos/ESTATUTO%20Final%20abril%202017.pdf','_system')">           
                  <p>Reglamento <br> y estatuto</p> 
                  <ion-icon slot="end" name="bookmark"></ion-icon>
          </ion-item>  
        </ion-col>
        <ion-col size="6">
          <ion-item (click)="abrirWeb('https://smo.org.mx/archivos/smonline/smonline_busqueda.php','_system')" >
              <p>Artículos <br> de revistas</p>
                  <ion-icon slot="end" name="today"></ion-icon>
          </ion-item>         
        </ion-col>
        
      </ion-row> 
    </ion-card>
   
  </ion-content>