<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="light" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Actualización de datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center" color="primary">Actualización Datos Seguro de Vida        </ion-card-title>
      </ion-card-header>
      <img   src="../../assets/seguro.jpg" (click)="abrirWeb('https://www.asegurados.com.mx/smo/','_system')" >
      <ion-item color="primary" (click)="abrirWeb('https://www.asegurados.com.mx/smo/','_system')">
        <ion-buttons expand="full" class="text-center">
        <p>https://www.asegurados.com.mx/smo/</p>
      </ion-buttons>
      </ion-item>
      </ion-card>
</ion-content>
