<ion-content no-padding class="background">
    <div class="main">
        <form (ngSubmit)="login(fLogin)" #fLogin="ngForm">
      <ion-card no-margin class="card" color="shadow">
        <ion-card-content >
            <ion-row class="row">
                <div class="fire-logo">
                    <img src="../../assets/img/logo_smo_blanco.png" class="logoSmall">
                    <br>
                    <ion-text><h1 no-margin margin-vertical text-center>Acceso a Socios SMO</h1></ion-text>
                  </div>
            </ion-row>
            <ion-row>
                <ion-col>
                  <ion-input name="email" type="email" placeholder="usuario@correo.com" [(ngModel)]="loginUser.email" required class="input" padding-horizontal clear-input="true"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-input type="password" name="password"  placeholder="Contraseña" [(ngModel)]="loginUser.password" required class="input" padding-horizontal clear-input="true"></ion-input>
                </ion-col>
              </ion-row>
              
              <ion-row>
                <ion-col>
                  <ion-button expand="block" color="undefined" class="btn-transition" type="submit">
                    <strong class="white">Ingresar</strong>
                  </ion-button>
                </ion-col>
              </ion-row>
              <div class="line"></div>
              <ion-row>
              </ion-row>
        </ion-card-content>
      </ion-card>
        </form>
    </div>
  </ion-content>
  