<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button color="light" text="Volver"></ion-back-button>
      </ion-buttons>
      <ion-title>Consejo ejecutivo 2020</ion-title>
    </ion-toolbar>
  </ion-header>
  

<ion-content>
  <ion-list>
    <ion-item *ngFor="let mesa of mesas" >
        <ion-label>
          <h3>{{mesa.nombre}}</h3>
          <p>{{mesa.puesto}}</p>
        </ion-label>
      </ion-item>    
      
  </ion-list>
</ion-content>
