
<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          <ion-back-button color="light" text="Volver"></ion-back-button>
        </ion-buttons>
    <ion-title>Casos Clínicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-list>
  <ion-item (click)="casoImagen(caso.id)" *ngFor="let caso of casos">
      <ion-label class="ion-text-wrap">     
        <ion-row>
          <ion-col size="3">
              <ion-avatar>
                  <img class="perfil" src="https://wsbrb-services.com/appsmo/img/avatar-no-img.png">
                </ion-avatar>
          </ion-col>
          <ion-col size="8">               
        <ion-text color="secondary">
            <ion-text color="primary">         
                <h3>{{caso.titulo}}</h3>
              </ion-text>
              <p>{{caso.autor}}</p>
        </ion-text>
        <p>{{caso.fecha}}</p>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="photos" *ngIf="caso.arch_ext=='.jpg' || caso.arch_ext=='.png' || caso.arch_ext=='.bmp' "></ion-icon>
        <ion-icon name="document" *ngIf="caso.arch_ext=='.pdf' || caso.arch_ext=='.doc'  || caso.arch_ext=='.docx' "></ion-icon>
      </ion-col>
    </ion-row>  
      </ion-label>
    </ion-item>
</ion-list>

 
</ion-content>
