<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="light" text="Atras"></ion-back-button>
    </ion-buttons>
    <ion-title>Expo Comercial</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card (click)="viewPhoto('comercial.jpg')">

    <ion-card-header>
      <ion-card-subtitle>Planta baja</ion-card-subtitle>
    </ion-card-header>
    <img src="/assets/img/comercial.jpg" alt="">
  </ion-card>

  <ion-card (click)="viewPhoto('primerpiso.jpg')">
    <ion-card-header>
      <ion-card-subtitle>Primer piso</ion-card-subtitle>
    </ion-card-header>
    <img src="/assets/img/primerpiso.jpg" alt="">
  </ion-card>
  <ion-card (click)="viewPhoto('salones.jpg')">
    <ion-card-header>
      <ion-card-subtitle>Salones</ion-card-subtitle>
    </ion-card-header>
    <img src="/assets/img/salones.jpg" alt="">
  </ion-card>


</ion-content>