<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button color="light" text="Volver"></ion-back-button>
      </ion-buttons>
      <ion-title>Coloquios y Cursos</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item  *ngFor="let coloquio of coloquios" (click)="abrirWeb( coloquio.url,'_system')" >
          <ion-label class="ion-text-wrap">     
            <ion-row>
              <ion-col size="4">
                  
                      <img class="logoSmall" src="{{coloquio.ruta_ico}}">
                   
              </ion-col>
              <ion-col size="8">               
            <ion-text color="secondary">
                <ion-text color="primary">         
                    <h3>{{coloquio.titulo}}</h3>
                  </ion-text>
            </ion-text>
            <p>{{coloquio.fecha}}</p>
          </ion-col>
        </ion-row>  
          </ion-label>
        </ion-item>
        </ion-list>



  <!--ion-card>
    <img src="../../assets/img/col1.png" class="logoSmall">
  </ion-card>
  <ion-card>
    <img src="../../assets/img/col2.png" class="logoSmall">
  </ion-card>
  <ion-card>
    <img src="../../assets/img/col3.png" class="logoSmall">
  </ion-card-->
  </ion-content>
  