<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button color="light" text="Volver"></ion-back-button>
      </ion-buttons>
      <ion-title>Sesiones</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title><h2> Asociación Mexicana de cirugía de orbita, parpados y vías lagrimales</h2></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="4">
              <img class="logoSmall" src="../../assets/img/oculoplastica.png">
          </ion-col>
          <ion-col size="8">
              <p>Fecha y hora: 27 de julio 8:30 am. <br>
                  Sede: Sociedad Mexicana de Oftalmología. <br>
                  Tema: ¿En dónde estamos hoy y hacia dónde vamos con los Biológicos? <br>
                  HOSPITAL CENTRAL MILITAR</p>
          </ion-col>
        </ion-row> 
      </ion-card-content>
    </ion-card>
  </ion-content>
  