<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button color="light" text="Volver"></ion-back-button>
      </ion-buttons>
      <ion-title>Casos Clínicos</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  <ion-card>
    <img src="../../assets/img/col1.png" class="logoSmall">
  </ion-card>
  <ion-card>
    <img src="../../assets/img/col2.png" class="logoSmall">
  </ion-card>
  <ion-card>
    <img src="../../assets/img/col3.png" class="logoSmall">
  </ion-card>
  </ion-content>
  